.box{
    height: 150px;
    width: 300px;
    background-color: purple;
    color:red;

    animation-name: ani;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}

@keyframes ani{
    from{
        font-size: 30px;
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    to{
        font-size: 60px;
        background-color: purple;
    }
}