body{
    text-align: center;
    margin-top:150px
}

div{
    height:200px;
    width:500px;
    border: 2px solid black;
    margin:auto;
    margin-top:10px;
    border-radius: 15px;

    /* transition-delay: 0.3s; */
    transition-duration: 1s;
}